[submodule "dotbot"]
	path = .dotbot
  	url = https://github.com/anishathalye/dotbot

# shell
[submodule "shell/plugins/nord-dircolors"]
	path = shell/plugins/nord-dircolors
	url = https://github.com/arcticicestudio/nord-dircolors.git
	
# vim
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
